.about {
   /* background-color: rgb(91, 91, 190); */
  /* background-image: url("../../images/page-turner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0; */
  position: relative;
  height: 250px;
  align-items: center;
  /* border-bottom: 1px solid rgb(24, 24, 157); */
  border-top: 1px solid rgb(24, 24, 157);
  color: white;
  background: linear-gradient(45deg, #000080, #0074E4, #00A8E8);
  background-size: 200% 200%;
  animation: gradientAnimation 6s ease infinite;
  box-shadow: 0 5px 10px 0 rgba(0, 4, 115, 1);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
