
.aboutCompany {
  background-image: url("../../images/Hexagon.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutCompany__container {
  max-width: 1280px;
  height: 400px;
  border-radius: 50px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.aboutCompany__title {
  text-align: center;
  margin: 30px auto;
  font-size: 42px;
  font-weight: 500;
}

.aboutCompany__text-conatiner {
  display: flex;
  flex-direction: column;
}

.aboutCompany__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  text-align: center;
}

.aboutCompany__direction {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}

.aboutCompany__button {
  width: 180px;
  height: 50px;
  border-radius: 20px;
  background-color: #fff;
  margin: 0 auto;
}

@keyframes blink {
  from {
    background-color: #ffffff; /* Начальный цвет фона */
  }
  to {
    background-color: #b0f8fc; /* Конечный цвет фона (например, красный) */
  }
}