
.aboutCompany {
  background-image: url("../../images/Hexagon.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px -29px 34px -16px rgb(17 46 69) inset;
}

.aboutCompany__container {
  max-width: 1280px;
  border-radius: 50px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.aboutCompany__title {
  text-align: center;
  margin: 30px auto;
  font-size: 42px;
  font-weight: 500;
}

.aboutCompany__text-conatiner {
  display: flex;
  flex-direction: column;
}

.aboutCompany__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  text-align: center;
}

.aboutCompany__direction {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}

.aboutCompany__button {
  width: 180px;
  height: 50px;
  border-radius: 20px;
  background-color: #fff;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 30px;
}

.aboutCompany__schema-text {
  margin: 0 auto;
  font-size: 26px;
  font-weight: 500;
}

.aboutCompany__img {
  width: 900px;
  margin: 0 auto;
}

.aboutCompany__blocks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.aboutCompany__block {
  width: 380px;
  border: 3px solid white;
  border-radius: 40px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
}

.aboutCompany__description {
  margin: 0;
}

.aboutCompany__block-btn {
  width: 50px;
  height: 50px;
  background-image: url("../../images/arrow-down-svgrepo-com.svg");
  background-size: 50px;
  background-color: transparent;
  border: none;
  margin: 0 auto;

}

@keyframes blink {
  from {
    background-color: #ffffff; /* Начальный цвет фона */
  }
  to {
    background-color: #b0f8fc; /* Конечный цвет фона (например, красный) */
  }
}